
.navbar {
    background-color: white;
}

.quem-somos {
    background-color: whitesmoke;
}

.margin {
    padding-top: 30px;
    padding-bottom: 30px;
}

.bg-footer {
    background-color: whitesmoke;
}